@model BeerShop.ViewModels.BeerListViewModel

@foreach (var category in Model.Categories)
{
    <a class="beer-link" asp-controller="Beer" asp-action="SearchForCategory"
   asp-route-id="@category.CategoryId">@category.Name</a>
}
<div class="row rowrow-cols-1 row-cols-md-3 g-4">
    @foreach (var beer in Model.Beers)
    {
        <div class="col">
            <div class="card-body pie-card">
                <img src="@beer.ImageUrl" class="card-img-top" alt="@beer.Name">
                <div class="card-body pie-button">
                    <h4 class="d-grid"></h4>

                    <div class="d-flex justify-content-between mt-2">
                        <h2 class="text-start">
                            <a class="beer-link" asp-controller="Beer" asp-action="Details"
                           asp-route-id="@beer.Id">@beer.Name</a>
                        </h2>
                        <h5 class="text-nowrap">
                            @beer.Price.ToString("c")
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
